﻿@model DrinkShop.Web.Models.CustomerListViewModel

@{
    ViewData["Title"] = "CustomerIndex";
}

<h2>Customer Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("CustomersEdit", Model.EditedCustomer)

@await Html.PartialAsync("CustomerList", Model.ListOfCustomers)
