﻿@model IEnumerable<DrinkShop.Web.Models.Customer>

    <h2>CustomerList</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
	{
<table>
    <tr>
        <th>@Html.DisplayNameFor(m => m.First().Name)</th>
        <th>@Html.DisplayNameFor(m => m.First().PurchaseID)</th>
        <th>@Html.DisplayNameFor(m => m.First().Address)</th>
        <th>@Html.DisplayNameFor(m => m.First().Age)</th>
        <th>@Html.DisplayNameFor(m => m.First().Phone)</th>
        <th>Datasheet</th>
        <th>Delete</th>
        <th>Modify</th>

    </tr>
    @foreach (var customer in Model)
    {
<tr>
    <td>@Html.DisplayFor(m => customer.Name)</td>
    <td>@Html.DisplayFor(m => customer.PurchaseID)</td>
    <td>@Html.DisplayFor(m => customer.Address)</td>
    <td>@Html.DisplayFor(m => customer.Age)</td>
    <td>@Html.DisplayFor(m => customer.Phone)</td>
    <td>@Html.ActionLink("[SHOW]", "Details", new { id = customer.ID })</td>
    <td>@Html.ActionLink("[DEL]", "Remove", new { id = customer.ID })</td>
    <td>@Html.ActionLink("[EDIT]", "Edit", new { id = customer.ID })</td>


</tr>
    }

</table>
	}